@using System.Web.Optimization
@using LicensesOrganizer.Common


<!DOCTYPE html>
<html>

<head>
    @RenderSection("head", required: false)

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/simple-sidebar.css" rel="stylesheet">
    @Styles.Render("~/styles/layout")
</head>
<body>
    @*RenderBody()*@
    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading">Licenses Organizer</div>
            <div class="list-group">
                @if (ViewBag.UserRole == UserRoles.Admin)
                {
                    @Html.Partial("AdminMenuPartial");
                }
                else if (ViewBag.UserRole == UserRoles.ComputerAdmin)
                {
                    @Html.Partial("ComputerMenuPartial");
                }
                else if (ViewBag.UserRole == UserRoles.LicenseAdmin)
                {
                    @Html.Partial("LicenseMenuPartial");
                }
                else
                {
                    @Html.Partial("RegularUserMenuPartial");
                }
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">              

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="#">CurrentUser <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            @Html.ActionLink("Logout", "LogOut", "Login", null, new { @class = "nav-link" })
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    
    @Scripts.Render("~/bootstrap")
</body>
</html>
